<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search_page.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='boardgames.js') }}" ></script>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <title>Search page</title>

    <div class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
        <a href="search_page">All Board Games</a>
      </div>
  </div>

  <div class="topnav" >
    <a href="home_page"> 
    <img alt = logo src="https://cdn.pixabay.com/photo/2017/08/31/04/01/d20-2699387_960_720.png" />
    </a>

    <h2>Board Games Database</h2>
    <div>
        <input id = 'input' type="text" placeholder="Search..." name="search"> 
        <button  onclick = "submit_button()"> Submit </button>   
    </div> 
  </div>
  </head>

<body> 
<div>
  
</div>

<div class="sidenav">
  <h2> Sort by:</h2>
  <div class = 'alphabetical'>
    <button onclick = 'onclick_get_alphabetical("~")'> # </button>
    <button onclick = 'onclick_get_alphabetical("A")'> A </button>
    <button onclick = 'onclick_get_alphabetical("B")'> B </button>
    <button onclick = 'onclick_get_alphabetical("C")'> C </button>
    <button onclick = 'onclick_get_alphabetical("D")'> D </button>
  </div>
  <div class = 'alphabetical'>
    <button onclick = 'onclick_get_alphabetical("E")'> E </button>
    <button onclick = 'onclick_get_alphabetical("F")'> F </button>
    <button onclick = 'onclick_get_alphabetical("G")'> G </button>
    <button onclick = 'onclick_get_alphabetical("H")'> H </button>
    <button onclick = 'onclick_get_alphabetical("I")'> I </button>
  </div>
  <div class = 'alphabetical'>
    <button onclick = 'onclick_get_alphabetical("J")'> J </button>
    <button onclick = 'onclick_get_alphabetical("K")'> K </button>
    <button onclick = 'onclick_get_alphabetical("L")'> L </button>
    <button onclick = 'onclick_get_alphabetical("M")'> M </button>
    <button onclick = 'onclick_get_alphabetical("N")'> N </button>
  </div>
  <div class = 'alphabetical'>
    <button onclick = 'onclick_get_alphabetical("O")'> O </button>
    <button onclick = 'onclick_get_alphabetical("P")'> P </button>
    <button onclick = 'onclick_get_alphabetical("Q")'> Q </button>
    <button onclick = 'onclick_get_alphabetical("R")'> R </button>
    <button onclick = 'onclick_get_alphabetical("S")'> S </button>
  </div>
  <div class = 'alphabetical'>
    <button onclick = 'onclick_get_alphabetical("T")'> T </button>
    <button onclick = 'onclick_get_alphabetical("U")'> U </button>
    <button onclick = 'onclick_get_alphabetical("V")'> V </button>
    <button onclick = 'onclick_get_alphabetical("W")'> W </button>
    <button onclick = 'onclick_get_alphabetical("X")'> X </button>
  </div>
  <div class = 'alphabetical'>
    <button onclick = 'onclick_get_alphabetical("Y")'> Y </button>
    <button onclick = 'onclick_get_alphabetical("Z")'> Z </button>
  </div>
  <button class='dropdown-btn'>Genre
    <i class='fa fa-caret-down'></i>
  </button>
  <div class='dropdown-container'>
    <div class='widget user_widget_search'>
    <form class='user_wiget_search_form' method='GET'>
  <div class = "game_display" id ="all_categories"></div>
    </form>
    <div class="form-group">
      <button type="submit" class="btn btn-block btn-primary" style="margin-left:10px" onclick="onclick_get_category()">Submit</button>
    </div>
    </div>
  </div>
  <button class='dropdown-btn'>Minimum Age
    <i class='fa fa-caret-down'></i>
  </button>
  <div class='dropdown-container'>
    <div class='widget user_widget_search'>
    <form class='user_wiget_search_form' method='GET'>
  <div class = "game_display" id ="all_min_age"></div>
    </form>
    <div class="form-group">
      <button type="submit" class="btn btn-block btn-primary" style="margin-left:10px" onclick="onclick_get_min_age()">Submit</button>
    </div>
    </div>
  </div>

  <button class='dropdown-btn'>Year Published
    <i class='fa fa-caret-down'></i>
  </button>
  <div class='dropdown-container'>
    <div class='widget user_widget_search'>
    <form class='user_wiget_search_form' method='GET'>
  <div class = "game_display" id ="all_pub_year"></div>
    </form>
    <div class="form-group">
      <button type="submit" class="btn btn-block btn-primary" style="margin-left:10px" onclick="onclick_get_pub_year()">Submit</button>
    </div>
    </div>
  </div>

  <button class='dropdown-btn'>Minimum Players
    <i class='fa fa-caret-down'></i>
  </button>
  <div class='dropdown-container'>
    <div class='widget user_widget_search'>
    <form class='user_wiget_search_form' method='GET'>
  <div class = "game_display" id ="all_min_player"></div>
    </form>
    <div class="form-group">
      <button type="submit" class="btn btn-block btn-primary" style="margin-left:10px" onclick="onclick_get_min_player()">Submit</button>
    </div>
    </div>
  </div>

  <button class='dropdown-btn'>Maximum Players
    <i class='fa fa-caret-down'></i>
  </button>
  <div class='dropdown-container'>
    <div class='widget user_widget_search'>
    <form class='user_wiget_search_form' method='GET'>
  <div class = "game_display" id ="all_max_player"></div>
    </form>
    <div class="form-group">
      <button type="submit" class="btn btn-block btn-primary" style="margin-left:10px" onclick="onclick_get_max_player()">Submit</button>
    </div>
    </div>
  </div>

</div>
</div>

  <div id = "output" >
    <h3>
      Board games:
    </h3>
   </div>
   <div class = "game_display" id ="games"></div>
   

</body>

</html>


<!--https://www.w3schools.com/howto/howto_css_searchbar.asp-->


